# Compiled object files
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Static Libraries
*.lib
*.a

# Compiled Dynamic Libraries
*.dll
*.so
*.dylib

# Executables
*.exe
*.out
*.app

# Debug files
*.dSYM/
*.stackdump

# Build directories
build/
bin/